<h1>Subscriptions#edit</h1>
<p>Find me in app/views/subscriptions/edit.html.erb</p>

<%= form_for(@subscription) do |f| %>

    <%= f.label :name %>
    <%= f.text_field :name %></br>
    </br>
    <%= f.label :amount_per_month %>
    <%= f.number_field :amount_per_month %></br>
    </br>
    <%= f.label :type_of_subscription %>
    <%= f.text_field :type_of_subscription %></br>
    </br>

    <%= f.submit %>
<% end %>    