<h1>Subscriptions#edit</h1>
<p>Find me in app/views/subscriptions/edit.html.erb</p>

<h1>Update Your Subscription Here</h1>

<%= form_with model: @subscription do |f| %>

    <%= render partial: "form", locals: {f: f} %>
    
    <%= f.fields_for :company do |company_builder| %>   
        <p>
            <%= company_builder.label :name %>
            <%= company_builder.text_field :name %>   
        </p>
    <% end %>
    <br>
    <br>
    <%= f.submit %>  

<% end %>    