<h1>Update Your Subscription Here</h1>

<%= render partial: "layouts/flash_errors", locals: {object: @subscription} %>

<%= form_with model: @subscription do |f| %>

    <%= render partial: "form", locals: {f: f} %>
    
    <%= render partial: "nested_form", locals: {f: f} %>

    <%= f.submit %>
<% end %>    