<h1>All My Current Subscriptions</h1>
<br>
<% if @subscriptions.length == 0 %>
    <h2>No Current Subscriptions</h2>
    <% else %>
    <% @subscriptions.each do |s| %>
      <p>  
        Company: <%= s.company.name %></br>
        Type_of_subscription: <%= s.type_of_subscription %><br>
        Amount Per Month: $<%= s.amount_per_month %></br>

        <%= button_to 'Delete', subscription_path(s.id), method: 'delete' %>
      </p>  
    <% end %>
    <br>
<% end %>
    
<%= link_to 'Create New Subscription', new_subscription_path %>