
<h1>Create New Subscription</h1>

<% if @subscription.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@subscription.errors.count, "error") %>
      prohibited this post from being saved:
    </h2>
    <ul>
    <% @subscription.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @subscription do |f| %>
    <p>
        <%= f.label :amount_per_month %>
        <%= f.text_field :amount_per_month %>
        <br>
        <br>
        <%= f.label :type_of_subscription %>
        <%= f.text_field :type_of_subscription %>
    </p>

    <h2>Select Name of Comapany</h2>
    <%= f.collection_select(:company_id, Company.all, :id, :name, prompt: true) %><br><br>
    
    <h3>Or Create One</h3>
    <%= f.fields_for :company do |company_builder| %>   
        <p>
            <%= company_builder.label :name %>
            <%= company_builder.text_field :name %>   
        </p>
    <% end %>
    <br>
    <br>
    <%= f.submit %>  
<% end %>
<br>
<%= link_to 'See All My Subscriptions', user_subscriptions_path(current_user.username) %>