
<h1>Create New Subscription</h1>

<% if @subscription.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@subscription.errors.count, "error") %>
      prohibited this post from being saved:
    </h2>
    <ul>
    <% @subscription.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @subscription do |f| %>
    <p>
        <%= f.label :amount_per_month %>
        <%= f.text_field :amount_per_month %>
    </p>

    <h2>Name and Description Type of Comapany</h2>
    <%= f.fields_for :company do |company_builder| %>   

            <%= company_builder.label :name %>
            <%= company_builder.text_field :name %>
            <br>
            <br>    
            <%= company_builder.label :description %>
            <%= company_builder.text_field :description %>    

    <% end %>
    <br>
    <br>
    <br>
    <%= f.submit %>  
<% end %>
<br>
<%= link_to 'See All My Subscriptions', subscriptions_path %>