
<h1>Create New Subscription</h1>

<%= render partial: "layouts/errors", locals: {object: @subscription} %>

<%= form_for @subscription do |f| %>
  
    <%= render partial: "form", locals: {f: f} %>

    <h2>Select Name of Comapany</h2>
    <%= f.collection_select(:company_id, Company.all, :id, :name, prompt: true) %><br><br>
    
    <h3>Or Create One</h3>
    <%= f.fields_for :company do |company_builder| %>   
        <p>
            <%= company_builder.label :name %>
            <%= company_builder.text_field :name %>   
        </p>
    <% end %>
    <br>
    <br>
    <%= f.submit %>  
<% end %>
<br>
