<h1>Subscriptions#new</h1>
<p>Find me in app/views/subscriptions/new.html.erb</p>

<%= form_for(@subscription) do |f| %>

<%= f.label :company_id %>
<%= f.number_field :company_id %></br>
</br>
<%= f.label :amount %>
<%= f.number_field :amount %></br>
</br>
<%= f.label :due_date %>
<%= f.date_field :due_date %></br>
</br>
</br>

<%= f.submit %>

<% end %>    