<h2>Your New Subscription Was Added To Your Account</h2>

Company: <%= @subscription.company.name %></br>
Type of Subscription: <%= @subscription.type_of_subscription %></br>
Amount Per Month: $<%= @subscription.amount_per_month %></br>


</br>
</br>
<%= button_to 'Delete', subscription_path(@subscription), method: 'delete' %><br><br>
<%= link_to 'Create New Subscription', new_subscription_path %><br><br>
<%= link_to 'See All My Subscriptions', user_subscriptions_path(:user_id) %>